<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Restoration</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Tooth Preparation for Procera Crown</string>
			<key>SummaryPath</key>
			<string>proceraCrownSummary</string>
			<key>DiagnosticPath</key>
			<string>proceraCrownDiag</string>
			<key>PreProcPath</key>
			<string>proceraCrownPreProc</string>
			<key>ProcedurePath</key>
			<string>proceraCrownProc</string>
			<key>PostProcPath</key>
			<string>proceraCrownPostProc</string>
			<key>VideoPath</key>
			<string>proceraCrownPrep</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Fabrication and Cementation of Provisional Crown for Procera Crown</string>
			<key>SummaryPath</key>
			<string>proceraFabricationSummary</string>
			<key>DiagnosticPath</key>
			<string>proceraFabricationDiag</string>
			<key>PreProcPath</key>
			<string>proceraFabricationPreProc</string>
			<key>ProcedurePath</key>
			<string>proceraFabricationProc</string>
			<key>PostProcPath</key>
			<string>proceraFabricationPostProc</string>
			<key>VideoPath</key>
			<string>proceraCrownFabCement</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Scanning of Procera Crown</string>
			<key>SummaryPath</key>
			<string>proceraScanningSummary</string>
			<key>DiagnosticPath</key>
			<string>proceraScanningDiag</string>
			<key>PreProcPath</key>
			<string>proceraScanningPreProc</string>
			<key>ProcedurePath</key>
			<string>proceraScanningProc</string>
			<key>PostProcPath</key>
			<string>proceraScanningPostProc</string>
			<key>VideoPath</key>
			<string>proceraCrownScanning</string>
			<key>Images</key>
			<array/>
		</dict>
	</array>
	<key>Radiology (Panoramic Imaging)</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Preparation &amp; Positioning</string>
			<key>VideoPath</key>
			<string>panoImage01</string>
			<key>SubHeadings</key>
			<dict>
				<key>General Information</key>
				<string>panoImage01Summary</string>
				<key>Diagnostic</key>
				<string>panoImage01Diag</string>
				<key>Pre-Procedure</key>
				<string>panoImage01PreProc</string>
				<key>Procedure</key>
				<string>panoImage01Proc</string>
				<key>Post-Procedure</key>
				<string>panoImage01PostProc</string>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Patient Properly Positioned</string>
			<key>SummaryPath</key>
			<string>panoImage02Summary</string>
			<key>DiagnosticPath</key>
			<string>panoImage02Diag</string>
			<key>PreProcPath</key>
			<string>panoImage02PreProc</string>
			<key>ProcedurePath</key>
			<string>panoImage02Proc</string>
			<key>PostProcPath</key>
			<string>panoImage02PostProc</string>
			<key>VideoPath</key>
			<string>panoImage02</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Patient Positioned Too Far Forward</string>
			<key>SummaryPath</key>
			<string>panoImage03Summary</string>
			<key>DiagnosticPath</key>
			<string>panoImage03Diag</string>
			<key>PreProcPath</key>
			<string>panoImage03PreProc</string>
			<key>ProcedurePath</key>
			<string>panoImage03Proc</string>
			<key>PostProcPath</key>
			<string>panoImage03PostProc</string>
			<key>VideoPath</key>
			<string>panoImage03</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Patient Positioned Too Far Back</string>
			<key>SummaryPath</key>
			<string>panoImage04Summary</string>
			<key>DiagnosticPath</key>
			<string>panoImage04Diag</string>
			<key>PreProcPath</key>
			<string>panoImage04PreProc</string>
			<key>ProcedurePath</key>
			<string>panoImage04Proc</string>
			<key>PostProcPath</key>
			<string>panoImage04PostProc</string>
			<key>VideoPath</key>
			<string>panoImage04</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Patient Turned</string>
			<key>SummaryPath</key>
			<string>panoImage05Summary</string>
			<key>DiagnosticPath</key>
			<string>panoImage05Diag</string>
			<key>PreProcPath</key>
			<string>panoImage05PreProc</string>
			<key>ProcedurePath</key>
			<string>panoImage05Proc</string>
			<key>PostProcPath</key>
			<string>panoImage05PostProc</string>
			<key>VideoPath</key>
			<string>panoImage05</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Patient Tilted</string>
			<key>SummaryPath</key>
			<string>panoImage06Summary</string>
			<key>DiagnosticPath</key>
			<string>panoImage06Diag</string>
			<key>PreProcPath</key>
			<string>panoImage06PreProc</string>
			<key>ProcedurePath</key>
			<string>panoImage06Proc</string>
			<key>PostProcPath</key>
			<string>panoImage06PostProc</string>
			<key>VideoPath</key>
			<string>panoImage06</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Patient&apos;s Chin Too Low</string>
			<key>SummaryPath</key>
			<string>panoImage07Summary</string>
			<key>DiagnosticPath</key>
			<string>panoImage07Diag</string>
			<key>PreProcPath</key>
			<string>panoImage07PreProc</string>
			<key>ProcedurePath</key>
			<string>panoImage07Proc</string>
			<key>PostProcPath</key>
			<string>panoImage07PostProc</string>
			<key>VideoPath</key>
			<string>panoImage07</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Patient&apos;s Chin Too High</string>
			<key>SummaryPath</key>
			<string>panoImage08Summary</string>
			<key>DiagnosticPath</key>
			<string>panoImage08Diag</string>
			<key>PreProcPath</key>
			<string>panoImage08PreProc</string>
			<key>ProcedurePath</key>
			<string>panoImage08Proc</string>
			<key>PostProcPath</key>
			<string>panoImage08PostProc</string>
			<key>VideoPath</key>
			<string>panoImage08</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Patient Slumped</string>
			<key>SummaryPath</key>
			<string>panoImage09Summary</string>
			<key>DiagnosticPath</key>
			<string>panoImage09Diag</string>
			<key>PreProcPath</key>
			<string>panoImage09PreProc</string>
			<key>ProcedurePath</key>
			<string>panoImage09Proc</string>
			<key>PostProcPath</key>
			<string>panoImage09PostProc</string>
			<key>VideoPath</key>
			<string>panoImage09</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Patient Moved</string>
			<key>SummaryPath</key>
			<string>panoImage10Summary</string>
			<key>DiagnosticPath</key>
			<string>panoImage10Diag</string>
			<key>PreProcPath</key>
			<string>panoImage10PreProc</string>
			<key>ProcedurePath</key>
			<string>panoImage10Proc</string>
			<key>PostProcPath</key>
			<string>panoImage10PostProc</string>
			<key>VideoPath</key>
			<string>panoImage10</string>
			<key>Images</key>
			<array/>
		</dict>
	</array>
	<key>Removable Prosthodontics</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Adjusting Balanced Denture Occlusion</string>
			<key>SummaryPath</key>
			<string>BalancedDentureOcclusionSummary</string>
			<key>DiagnosticPath</key>
			<string>BalancedDentureOcclusionDiag</string>
			<key>PreProcPath</key>
			<string>BalancedDentureOcclusionPreProc</string>
			<key>ProcedurePath</key>
			<string>BalancedDentureOcclusionProc</string>
			<key>PostProcPath</key>
			<string>BalancedDentureOcclusionPostProc</string>
			<key>VideoPath</key>
			<string>balancedDentureOcclusion</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Adjusting Monoplane Denture Occlusion</string>
			<key>SummaryPath</key>
			<string>MonoplaneDentureOcclusionSummary</string>
			<key>DiagnosticPath</key>
			<string>MonoplaneDentureOcclusionDiag</string>
			<key>PreProcPath</key>
			<string>MonoplaneDentureOcclusionPreProc</string>
			<key>ProcedurePath</key>
			<string>MonoplaneDentureOcclusionProc</string>
			<key>PostProcPath</key>
			<string>MonoplaneDentureOcclusionPostProc</string>
			<key>VideoPath</key>
			<string>monoplaneDentureOcclusion</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Complete Denture Final Impressions - Mandibular</string>
			<key>SummaryPath</key>
			<string>mandibularImpressionsSummary</string>
			<key>DiagnosticPath</key>
			<string>mandibularImpressionsDiag</string>
			<key>PreProcPath</key>
			<string>mandibularImpressionsPreProc</string>
			<key>ProcedurePath</key>
			<string>mandibularImpressionsProc</string>
			<key>PostProcPath</key>
			<string>mandibularImpressionsPostProc</string>
			<key>VideoPath</key>
			<string>mandibularImpressions</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Complete Denture Final Impressions - Maxillary</string>
			<key>SummaryPath</key>
			<string>maxillaryImpressionsSummary</string>
			<key>DiagnosticPath</key>
			<string>maxillaryImpressionsDiag</string>
			<key>PreProcPath</key>
			<string>maxillaryImpressionsPreProc</string>
			<key>ProcedurePath</key>
			<string>maxillaryImpressionsProc</string>
			<key>PostProcPath</key>
			<string>maxillaryImpressionsPostProc</string>
			<key>VideoPath</key>
			<string>maxillaryImpressions</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Complete Denture Insertion</string>
			<key>SummaryPath</key>
			<string>CDInsertionSummary</string>
			<key>DiagnosticPath</key>
			<string>CDInsertionDiag</string>
			<key>PreProcPath</key>
			<string>CDInsertionPreProc</string>
			<key>ProcedurePath</key>
			<string>CDInsertionProc</string>
			<key>PostProcPath</key>
			<string>CDInsertionPostProc</string>
			<key>VideoPath</key>
			<string>CDInsertion</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Denture Cusp Movement-Balanced Lingualized Occlusion</string>
			<key>SummaryPath</key>
			<string>dentureCuspMovementSummary</string>
			<key>DiagnosticPath</key>
			<string>dentureCuspMovementDiag</string>
			<key>PreProcPath</key>
			<string>dentureCuspMovementPreProc</string>
			<key>ProcedurePath</key>
			<string>dentureCuspMovementProc</string>
			<key>PostProcPath</key>
			<string>dentureCuspMovementPostProc</string>
			<key>VideoPath</key>
			<string>dentureCuspMovement</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Esthetic and Functional Try-in</string>
			<key>SummaryPath</key>
			<string>tryInSummary</string>
			<key>DiagnosticPath</key>
			<string>tryInDiag</string>
			<key>PreProcPath</key>
			<string>tryInPreProc</string>
			<key>ProcedurePath</key>
			<string>tryInProc</string>
			<key>PostProcPath</key>
			<string>tryInPostProc</string>
			<key>VideoPath</key>
			<string>dentureTryIn</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hanau Facebow Procedure for Complete Dentures</string>
			<key>SummaryPath</key>
			<string>facebow-HanauSummary</string>
			<key>DiagnosticPath</key>
			<string>facebow-HanauDiag</string>
			<key>PreProcPath</key>
			<string>facebow-HanauPreProc</string>
			<key>ProcedurePath</key>
			<string>facebow-HanauProc</string>
			<key>PostProcPath</key>
			<string>facebow-HanauPostProc</string>
			<key>VideoPath</key>
			<string>facebowHanau</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Whip Mix Facebow Procedure for Complete Dentures</string>
			<key>SummaryPath</key>
			<string>facebow-WhipMixSummary</string>
			<key>DiagnosticPath</key>
			<string>facebow-WhipMixDiag</string>
			<key>PreProcPath</key>
			<string>facebow-WhipMixPreProc</string>
			<key>ProcedurePath</key>
			<string>facebow-WhipMixProc</string>
			<key>PostProcPath</key>
			<string>facebow-WhipMixPostProc</string>
			<key>VideoPath</key>
			<string>facebowWhipMix</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Locator® Abutment Placement/Attachment Pick-up - Mandibular Complete Implant Retained Overdenture</string>
			<key>SummaryPath</key>
			<string>implantOverdentureSummary</string>
			<key>DiagnosticPath</key>
			<string>implantOverdentureDiag</string>
			<key>PreProcPath</key>
			<string>implantOverdenturePreProc</string>
			<key>ProcedurePath</key>
			<string>implantOverdentureProc</string>
			<key>PostProcPath</key>
			<string>implantOverdenturePostProc</string>
			<key>VideoPath</key>
			<string>implantOverdenture</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Maxillo-mandibular Records for Complete Dentures</string>
			<key>SummaryPath</key>
			<string>max-manRecordsSummary</string>
			<key>DiagnosticPath</key>
			<string>max-manRecordsDiag</string>
			<key>PreProcPath</key>
			<string>max-manRecordsPreProc</string>
			<key>ProcedurePath</key>
			<string>max-manRecordsProc</string>
			<key>PostProcPath</key>
			<string>max-manRecordsPostProc</string>
			<key>VideoPath</key>
			<string>max-manRecords</string>
			<key>Images</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
